{% load static %}
<html>
<head>
	<title>something</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/mylink.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div class="menu">
		<?php include 'header.php';?>
	</div>
	<h1>welcome!</h1>

</body>
</html>